#levelWrap {
	float: left;
}

#btnWrap {
	padding-left: 229px;
}

#myAlert {
	margin-top: 18px;
}

.col1 {
  width: 20%;
}

.col2 {
  width: 70%;
}

.col3 {
  width: 10%;
  text-align: center !important;
}

.sliderWrap {
	float: left;
	width: 166px;
	margin-left: 15px;
	margin-top: 7px;
}

.startLoaderWrap{
   position:absolute;
   width:100%;
   left: 0px; top: 0px; right: 0px; bottom: 0px;
   background:#FFFFFF;
   z-index: 50;
}

.sendLoader {
	margin: 0 auto;
	display: block;
	width: 220px;
	display: none;
	z-index: 51;
}

.modLoader {
	margin-left: 10px;
	background-image: url(/img/ajax-loader3.gif);
	height: 24px;
	width: 24px;
}